@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 font-sans;
  font-family: 'Poppins', sans-serif !important;
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  padding-right: 8px; /* Add padding to move scrollbar right */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #100f1d;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #faf8f85f;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fffffff2;
}
